@keyframes animateSvg {
  to {
    transform: translate(-20px, -10px);
  }
}

@keyframes upanddown {
  to {
    transform: translateY(-5px);
  }
}

@keyframes upupdowndown {
  to {
    transform: translateY(-10px);
  }
}