#home{
  min-height: 90vh;
  width: 100%;
  background-color: black;

  >img{
    opacity: .3;
    z-index: -1;
    position: relative;
  }

  .left{
    min-height: 40vh;
    width: 100%;
    // background-color: green;
    z-index: 9999;
    position: absolute;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
   
    >h1{
      font-size: 5vw;
      padding: 0 70px;
      line-height: 1;
      color: white;
      top: 20%;
      position: absolute;
      left: 0;

      >p{
        font-size: 19px;
        font-weight: 300;
        padding-top: 20px;
      }

      >span{
        color: yellow;
      }
    }

    >img{
      width: 20vw;
      right: 20%;
      position: absolute;
      rotate: 15deg;
      box-shadow: 20px 20px 0 0 yellow;
      border-radius: 20px;
    }
    
  }

  }
  .btn-flex{
    z-index: 9999;
    position: absolute;
    top: 70%;
    left: 5%;
    display: flex;
    gap: 20px;

    >.one{

      >img{
        cursor: pointer;
      }
    }
  }
  .two{
    img{
      cursor: pointer;
    }
  }
